//out: ../css/ 
* {
    margin: 0;
    padding: 0;


}

@bgcolor: rgb(197, 232, 246);
@tabheight: 50px;

.main {
    display: flex;
    width: 100%;
    height: 100vh;

    >div {
        // width: 100px;
        height: 100vh;
        background-color: @bgcolor;
    }

    .tab {
        width: @tabheight;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        >div {
            // background-color: rgb(255, 240, 243);
            width: @tabheight;
            // height: @tabheight;

        }

        .color {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;


            >div {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-bottom: 10px;
                display: none;
                box-shadow: white 0 0 1px 3px;
                cursor: pointer;
                transition: 500ms;
            }

            >div:hover {
                box-shadow: white 0 0 5px 5px;

            }

            div:nth-child(1) {
                background-color: rgb(235, 109, 109);

            }

            div:nth-child(2) {
                background-color: rgb(180, 177, 127);
            }

            div:nth-child(3) {
                display: block;
                background-color: rgb(147, 209, 231);
            }

            div:nth-child(4) {
                background-color: rgb(194, 126, 219);
            }

            div:nth-child(5) {
                background-color: rgb(195, 160, 107);
            }
        }

        .btn {
            display: flex;
            flex-direction: column;
            align-items: center;

            >div {
                font-size: 10px;
                text-align: center;
                margin-bottom: 10px;
                color: #305e68;
                width: 40px;
                height: 40px;
                border-radius: 5px;
                padding-top: 5px;
                line-height: 20px;
                // background: #e2f5f9;
                cursor: pointer;

                >div {
                    font-size: 20px;
                }
            }

            >div:hover {
                background: #e2f5f9;
            }
        }

        .light {
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border-radius: 10px;
            margin: 0 0 10px 10px;
            cursor: pointer;
            transition: 500ms;

            >div {
                font-size: 30px;
                color: #6c8488;
            }
        }

        .light:hover {
            background: #d7f1f7;

        }
    }

    .list {
        width: 25vw;
        height: 100vh;
        display: flex;
        flex-direction: row;

        >div {
            margin-top: @tabheight;
            margin-bottom: @tabheight;
            flex-grow: 1;
            background-color: rgb(236, 242, 248);
            border-radius: 20px 0 0 20px;
            border-right: 1px solid #e2e2e2;
        }
    }

    .content {
        height: 100vh;
        flex-grow: 1;
        display: flex;
        flex-direction: row;

        >div {
            margin-top: @tabheight;
            margin-bottom: @tabheight;
            // height: 100vh-@tabheight;
            flex-grow: 1;
            background-color: rgb(243, 249, 252);

        }
    }
}